{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 style="background-color:black; color:white"  align="center">*** MAKE YOUR POST ***</h1>

<form method="POST" action="/create-post" enctype="multipart/form-data">
  <textarea name="text" id="text" class="form-control" placeholder="Create your post here..."></textarea>
  <div align="center">
    <button type="submit" class="btn btn-lg btn-primary">Post</button>
  </div>
</form>
<br />
<div align="center">
  <a href="/home"
    ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
  >
</div>
{% endblock %}
